<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://photo-processor-fnc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/27f8ca9b-19ea-415f-9fbd-cb5755457b70/resourceGroups/lai123_group/providers/Microsoft.Web/sites/photo-processor-fnc</ResourceId>
    <UserName>$photo-processor-fnc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://photo-processor-fnc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>